body {
    background: lightgrey;
    font-family:'Segoe UI';
    text-align: center;
    font-size: medium;
    width: 800px;
    margin: auto;
    margin-bottom: 15px;
}

img {
    width: 200px;
    height: auto;
}